@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --color-primary: #e23849;
    --color-secondary: #4e4e4e;
    --color-main: #2c2c2f;
    --color-text: #ffffff;

    --color-bg-gradient1: #e23b38;
    --color-bg-gradient2: #e23865;

    --font-size-xl: 30px;
    --font-size-xxl: 40px;
    --font-size-l: 25px;
    --font-size-m: 17px;
}

body {
    background-color: var(--color-main);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.header {
    background: linear-gradient(45deg, var(--color-bg-gradient1), var(--color-bg-gradient2));
    text-align: center;
    padding-bottom: 10px;

    &__nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px;
    }

    &__logo {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--color-text);

        &-image {
            height: 35px;
            border-radius: 5px;
            margin-right: 10px;
        }
    }

    &__menu {
        display: flex;
        gap: 20px;

        &-link {
            color: var(--color-text);
            margin: auto;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

            &--icon {
                border-radius: 50%;
                display: flex;
                transition: 0.3s ease-out;

                img {
                    padding: 2px;
                    height: 35px;
                    border-radius: 50%;
                }

                &:hover {
                    background-color: var(--color-text);

                    img {
                        filter: invert(1);
                    }
                }
            }
        }
    }

    &__content {
        color: white;
        padding: 35px;
    }

    &__title {
        font-size: var(--font-size-xxl);
        margin: 0;
    }

    &__subtitle {
        font-size: var(--font-size-l);
        margin: auto;
        width: 50%;
    }

    &__vacant {
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-left: none;
        border-right: none;
        text-align: center;
        color: white;
        padding: 10px;
        margin-top: 100px;
        margin-bottom: 20px;
    }
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border: 3px solid white;
    border-radius: 5px;
    color: var(--color-text);
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease-out;

    &--primary:hover {
        background: var(--color-text);
        color: var(--color-primary);
    }
}

.course {
    &__item {
        display: flex;
        justify-content: space-around;
        padding: 25px;
        color: var(--color-text);

        &--light {
            background: linear-gradient(45deg, var(--color-bg-gradient1), var(--color-bg-gradient2));
        }
    }

    &__description {
        width: 40%;
        line-height: 2;
    }

    &__title {
        font-size: var(--font-size-xl);
        margin-top: 0;
    }

    &__image {
        height: 300px;

        img {
            height: 100%;
            border-radius: 15px;
            border: 2px solid var(--color-secondary);
        }
    }
}

.cta {
    padding: 35px;
    background: linear-gradient(45deg, var(--color-bg-gradient1), var(--color-bg-gradient2));
    text-align: center;
    color: var(--color-text);

    &__title {
        font-size: var(--font-size-xl);
    }
}

.end {
    text-align: center;

    &__text {
        color: var(--color-text);
        padding: 25px;
    }
}

.footer {
    background: linear-gradient(45deg, var(--color-bg-gradient1), var(--color-bg-gradient2));
    text-align: center;
    padding: 20px;
    color: var(--color-text);

    &__text {
        margin: 0;
        padding: 35px;
    }
}